NUXT_PUBLIC_API_BASE=http://localhost:4000/api/public
NUXT_PUBLIC_API_PROTECTED_BASE=http://localhost:4000/api/protected
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NUXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_key
NUXT_CLERK_SECRET_KEY=sk_test_your_key
